<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
-->

    <title>회원가입</title>
<script>
/*
    const header = document.querySelector('meta[name="_csrf_header"]').content;
    const token = document.querySelector('meta[name="_csrf"]').content;
*/

    const hi = function(){
/*        console.log(header);
        console.log(token);*/
    }
</script>
</head>
<body>
<h1>회원 가입</h1>
<button th:onclick="hi()">button</button>
<form action="/user/account" th:action="@{/user/account}" method="post">
    이름: <input type="text" name="name" > <br>
    비밀번호: <input type="text" name="password" > <br>
    이메일: <input type="text" name="email"><br>
    전화번호: <input type="text" name="phoneNumber"> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>